.App {
  text-align: center;
  background-color: rgb(165, 165, 165);
  min-height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.teacherPage {
  opacity:0.8;
  position: fixed;
  width:100%;
  height:100%;
  top:60px;
  left:0px;
  z-index: 1000;
  overflow: hidden;

  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 1fr;
}

.body {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 300px;

  overflow-y: scroll;
  scroll-behavior: smooth;
}


.teacherHeader {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;

}

.teacherInformation {
  margin-top: auto;
  margin-left: 0px;
  width: auto;
}

.giVurdering {
  background-color: #2C98F0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  height: 71px;
  width: 180px;
  cursor: pointer;

}

.giVurderingLink{
  grid-row: 1 / 2;
  grid-column: 7 / 9;

  cursor: pointer;
  margin-left: auto;
  margin-top: 3%;
  margin-right: 10%;
}

.sidebar {
  grid-column: 1 / 2;

  display: grid;
  grid-template-rows: 300px auto;
}

.sidebar img{
  grid-row: 1 / 2;
  background-color: aquamarine;
  border-radius: 30%;
  height: 80%;
  width: 80%;
  margin: auto;
}

.menu {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  text-align: end;
  margin: 0% auto;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  margin: 0 5px;
  padding: 10px;
}

.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.menu ul li a:hover {
  color:skyblue;
}

.GradeCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    display: flex;
    grid-column: 2 / -1;
    grid-row: 2 / span 2;
    
    height: 100%;
    margin-right: 10%;

    background: #FAFAFA;

    display: grid;
    grid-template-columns: auto 280px 280px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "h g g"
      "m g g"
      "m g g"
      "m g g";

}

.GradeCard > div {
  display: flex;
  align-items: center;
}

.GradeCard h1 {
  grid-area: h;
}

.totalGrade {
  grid-area: m;
  flex-direction: column;
}


/*Circle*/
.grades span{
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.totalGrade span {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ratingsCard {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      
      overflow: hidden;
      margin-top: 2%;
      margin-right: 10%;
  
      background: #FAFAFA;
      border-radius: 2px;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto;

}

.ratingsCard-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratingsCard-header h4 {
  margin-left: 10px;
  margin-top: 50px;
}

.ratingsCard-header span {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 30px;
}

.ratingCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
  width: 90%;
  height: 80%;
  background: #c9c9c9;
  border-radius: 2px;

  margin: auto;
}


.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background:#333030;
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: #e74c3c;
  color: #fff;
}

.teacher{
  background-color: white;
  width: 90%;
  height: 320px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows:40% 60%;
  grid-template-columns:40% 60%;
}

.teacher img{
  margin: auto;
  margin-top: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  width: 80%;
  padding: 5px;
  border-radius: 50%;
}


.teacher_info{
  grid-column-start: 2;
  grid-row-start: 1;
  margin: auto;
}

.teacher_info h1{
  font-size: 27px;
  margin: 5px;
  
}

.teacher_total_grade{
  font-weight: 700;
  margin-top: 30px;
}

.teacher_total_grade span{
  width: 70px;
  height: 70px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-left: 30px;
}

.teacher_grades span{
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-left: -5px;
}

.teacher_grades{
  margin: auto;
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: left;
}

.teacher_grades p {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  margin-left: 5px ;
  width: 100%;
}

.grade{
  display: inline;
  font-weight: 700;
}

a{
  text-decoration: none;
}

.minForeleser{
  width: 40%;
  margin: auto;
}

.minForeleser p {
  font-size: 20px;
  margin-bottom: 50px;
  
}

.minForeleser h1{
  font-size: 50px;
  margin-bottom: 10px
}


.search{
  margin: 50px;
  display: flex;
  margin-bottom: 10px;
}

.searchbar {
  width: 100%;
  padding-right: 50px;
  height: 30px;
}

.searchButton{
  margin-left: -50px;
  width: 50px;
  height: 30px;
  background-color: rgb(255,255,255);
  background-image: url("searchIcon.png");
  background-repeat: no-repeat;
  border:none;
  margin-top: 3px;
  padding: 0;
}

.searchButton:focus{
  outline: none;
}

.filter{
  display: flex;
  margin:auto;
  max-width: 380px;
}

.footerNewTeacher{
  height: 40px;
  position: fixed;
  bottom: 0;
  background-color: #2C98F0;
  width: 150px;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.footerNewTeacher:active{
  
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  
}

.footerNewTeacher:focus{
  outline: none;
}


#dropdown-basic-button-uni{
  font-size: 20px;
  height: 25px;
  background-color: rgba(255,255,255,0);
  border: none;
  color: #002FD4;
  /*width: 125px;*/
  padding-right: 20px;
  text-align: left;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  cursor: pointer;
}

#dropdown-basic-button-uni:focus{
  outline:none;
}

#dropdown-basic-button-cource{
  font-size: 20px;
  height: 25px;
  background-color: rgba(255,255,255,0);
  border: none;
  color: #002FD4;
  /*width: 65px;*/
  padding-right: 20px;
  text-align: left;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  cursor: pointer;
}

#dropdown-basic-button-cource:focus{
  outline:none;
}

div[class="dropdown-menu show"]{
  max-height: 200px;
  overflow: scroll;
  border-radius: 5px;
}

.dropdownItem{
  background-color: white;
  color: black;
  display: block;
  font-size: 15px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdownItem:hover{
  background-color: rgb(207, 204, 204);
}


.teacher_info h1{
  margin: 0;
}

.teacher_info p{
  margin: 0;
  display: inline;
}

.teacher_total_grade{
  grid-column-start: 1;
  grid-row-start: 2;
}

.teacher_grades{
  grid-column-start: 2;
  grid-row-start: 2;
}


.navbar{
  width: 100%;
  background-color: #2C98F0;
  height: 60px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  color: white;
  font-size: 20px;
}

.navbar p {
  margin:auto;
}

.navbarLink{
  color:white;
  margin: auto;
  padding: 0;
}

.teachers{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.link{
  color: black;
  text-decoration: none;
}

.noResult{
  font-size: 20px;
}

.noResult button{
  padding: 10px;
  background-color: #2C98F0;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 20px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.noResult button:active{
  
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  
}

.noResult button:focus{
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.newTeacher{
  font-size: 25px;
  max-width: 600px;
  margin:auto;

}

.newTeacher input{
  width: 300px;
  margin: 20px;
  height: 29px;
  font-size: 18px;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
}

.newTeacher input:focus{
  outline:none;
}

.newTeacher label{
  margin: 20px;
  text-align: left;
  width: 100%;
}

.submitTeacher{
  height: 45px !important;
  background-color: #2C98F0;
  width: 150px;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin:auto;
}

.submitTeacher:active{
  
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  
}

.submitTeacher:focus{
  outline: none;
}

.requests table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.requests table {
  margin:auto;
}

.request{
  font-size: 22px;
  
}

.request button{
  display: inline;
  margin:10px;
  align-self: center;
  height: 30px;
  background-color: #2C98F0;
  width: 120px;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  grid-column-start: 2;
}

.request button:active{
  
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  
}

.request button:focus{
  outline: none;
}

.newReview{
  font-size: 20px;
  background-color: white;
  width: 60%;
  margin: auto;
}

.newReview h2{
  font-size: 22px;
}

.newReview h2:first-child{
  padding-top: 15px;
}

#dropdownNewReview{
  font-size: 20px;
  height: 33px;
  background-color: white;
  color: rgb(155, 155, 155);
  border: #9b9b9b 1px solid;
  padding: 5px;
  /*width: 65px;*/
  padding-right: 25px;
  text-align: left;
  background-image: url("arrow-grey.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

#dropdownNewReview:focus{
  outline:none;
}

.dropdownItemReview{
  background-color: white;
  color: black;
  display: block;
  font-size: 18px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdownItemReview:hover{
  background-color: rgb(207, 204, 204);
}

.newReview div[class="dropdown-menu show"]{
  max-height: 200px;
  overflow: scroll;
  border-radius: 0px;
  border: 1px #9b9b9b solid;
}

.newReview .submitTeacher{
  margin-bottom: 20px;
}

div[class="undefined react-stars"]{
  margin: auto;
}

div[class="undefined react-stars"]:focus{
  outline: none
}

#inputText{
  height: 120px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}