.App {
  text-align: center;
  background-color: rgb(165, 165, 165);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.teacher{
  background-color: white;
  width: 80%;
  height: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows:33% 66%;
  grid-template-columns:33% 66%;
}

.teacher img{
  margin: auto;
  margin-top: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
  padding: 5px;
  border-radius: 50%;
}

.teacher_info{
  grid-column-start: 2;
  grid-row-start: 1;
  
}

a{
  text-decoration: none;
}

.minForeleser{
  width: 40%;
  margin: auto;
}

.minForeleser p {
  font-size: 20px;
  margin-bottom: 50px;
  
}

.minForeleser h1{
  font-size: 50px;
  margin-bottom: 10px
}


.search{
  margin: 50px;
  display: flex;
  margin-bottom: 10px;
}

.searchbar {
  width: 100%;
  padding-right: 50px;
  height: 30px;
}

.searchButton{
  margin-left: -50px;
  width: 50px;
  height: 30px;
  background-color: rgb(255,255,255);
  background-image: url("searchIcon.png");
  background-repeat: no-repeat;
  border:none;
  margin-top: 3px;


  padding: 0;
}

.filter{
  display: flex;
  margin:auto;
  max-width: 380px;
}

.footerNewTeacher{
  height: 40px;
  position: fixed;
  bottom: 0;
  background-color: #2C98F0;
  width: 150px;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.footerNewTeacher:active{
  
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  
}

.footerNewTeacher:focus{
  outline: none;
}


#dropdown-basic-button-uni{
  font-size: 20px;
  height: 25px;
  background-color: rgba(255,255,255,0);
  border: none;
  color: #002FD4;
  /*width: 125px;*/
  padding-right: 20px;
  text-align: left;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  cursor: pointer;
}

#dropdown-basic-button-uni:focus{
  outline:none;
}

#dropdown-basic-button-cource{
  font-size: 20px;
  height: 25px;
  background-color: rgba(255,255,255,0);
  border: none;
  color: #002FD4;
  /*width: 65px;*/
  padding-right: 20px;
  text-align: left;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  cursor: pointer;
}

#dropdown-basic-button-cource:focus{
  outline:none;
}

div[class="dropdown-menu show"]{
  max-height: 200px;
  overflow: scroll;
  border-radius: 5px;
}

.dropdownItem{
  background-color: white;
  color: black;
  display: block;
  font-size: 15px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdownItem:hover{
  background-color: rgb(207, 204, 204);
}


.teacher_info h1{
  margin: 0;
}

.teacher_info p{
  margin: 0;
  display: inline;
}

.teacher_total_grade{
  grid-column-start: 1;
  grid-row-start: 2;
}

.teacher_grades{
  grid-column-start: 2;
  grid-row-start: 2;
}


.navbar{
  width: 100%;
  background-color: #2C98F0;
  height: 60px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  color: white;
  font-size: 20px;
}

.navbar p {
  margin:auto;
}

.navbarLink{
  color:white;
  margin: auto;
  padding: 0;
}

.teachers{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.link{
  color: black;
  text-decoration: none;
}

.noResult{
  font-size: 20px;
}

.noResult button{
  padding: 10px;
  background-color: #2C98F0;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 20px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.noResult button:active{
  
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  
}

.noResult button:focus{
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
